body:not(.wp-admin){
     form{
     width: 100%;

     p{
     margin: 0;
     }

     input:not([type=submit]){
          width: 100%;
          padding: 10px 10px 10px 14px;
          border-radius: 6px;
          border: 1px solid #8F8F8F;
          background-color: white;
          font-family: var(--wp--preset--font-family--content);
     }

     input[type=file]{
          border: none;
          padding: 0px;
     }
     input::-webkit-file-upload-button{
          background-color: transparent;
          padding: 10px 10px 10px 14px;
          border: 1px solid #8F8F8F;
          border-radius: 6px;
          &::before{
               content: 'Seleccionar archivo';
          }
          
     }

     select{
          width: 100%;
          padding: 10px 10px 10px 14px;
          border-radius: 6px;
          border: 1px solid #8F8F8F;
          background-color: white;
          font-family: var(--wp--preset--font-family--content);
          cursor: pointer;
          -webkit-appearance: none;
          option{
               color:var(--wp--preset--color--dark);
          }
     }
     textarea{
          width: 100%;
          padding: 10px 10px 10px 14px;
          border-radius: 6px;
          border: 1px solid #8F8F8F;
          background-color: white;
          font-family: var(--wp--preset--font-family--content);
     }

     .section{
          margin-bottom: 20px;
     }

     .wpcf7-list-item{
          margin: 0px;
          input{
               padding: 0px;
               width: 15px;
               height: 15px;
               cursor: pointer;
          }
     }
     
     }
}