h1.wp-block-heading{
    margin-top: 0;
    margin-bottom: var(--wp--preset--spacing--xl);
}

h2.wp-block-heading{
    margin-top: 0;
    margin-bottom: var(--wp--preset--spacing--l);
}   

h3.wp-block-heading{
    margin-top: 0;
    margin-bottom: var(--wp--preset--spacing--l);
} 

h4.wp-block-heading{
    margin-top: 0;
    margin-bottom: var(--wp--preset--spacing--l);
} 

