html body:not(.wp-admin){
    overflow-x: hidden;
    width: 100vw;
    max-width: 100vw;

    main{
        min-height: calc(100vh - 200px);
    }

    section.block{
        margin-top: var(--wp--preset--spacing--4-xl);
        margin-bottom: var(--wp--preset--spacing--4-xl);
        @media screen and (max-width: 768px){
            margin-top: var(--wp--preset--spacing--4-xl-mobile);
            margin-bottom: var(--wp--preset--spacing--4-xl-mobile);
        }
    }


    .container{
        width: var(--wp--style--global--content-size);
        margin: auto;
        position: relative;
    }

    .breadcrumb{

        font-size: 14px;
        span a {
            text-decoration: none;
            font-weight: 400;
            font-size: 14px;
        }
        .breadcrumb_last{
            color: #09090B;
            font-weight: 600;
            font-size: 14px;

            @media screen and (max-width: 768px){
                color:white;
            }
        }
    }

}