html body:not(.wp-admin){
    #tarteaucitronRoot {
        
        *{
            font-family: var(--sans-serif) !important;
            //color: var(--black) !important;
        }

        #tarteaucitronScrollbarAdjust.tarteaucitronAsk{
           filter: invert(1);
        }

        .tarteaucitronIsSelect, #tarteaucitronAllAllowed, .tarteaucitronLine.tarteaucitronIsAllowed .tarteaucitronAllow {
            color: var(--white) !important;
        }

        button, button.tarteaucitronAllow, button.tarteaucitronDeny{
            background: var(--wp--preset--color--dark) !important;
            color: var(--wp--preset--color--light);
            font-size: 15px !important;
            text-transform: inherit;
            margin: 0px;
            &::after,&::before{
                content: inherit;
                display: none;
            }

            .tarteaucitronCheck::before{
                color: var(--white) !important;
            }
        }
    }


    #tarteaucitronRoot #tarteaucitronAlertBig{
        background-color: var(--wp--preset--color--dark);
        color: var(--wp--preset--color--light) !important;
        font-family: var(--wp--preset--font-family--content);
        font-size: 14px;
        padding: 10px;
        border-radius: 0px;
        box-shadow: none;
        border: none;
        position: fixed;
        bottom: 0px;
        left: 0px;

        #tarteaucitronDisclaimerAlert{
            font-family: var(--wp--preset--font-family--content); 
            
        }

        .tarteaucitronCheck::before{
            color: var(--wp--preset--color--dark) !important;
        }

        .tarteaucitronCTAButton{
            padding: 5px 10px;
            background: var(--wp--preset--color--primary) !important;
            color:var(--wp--preset--color--dark) !important;
            margin: 0px;
        }
      

        button{
            background: var(--wp--preset--color--dark) !important;
            color: var(--wp--preset--color--light) !important;
            font-size: 15px !important;
            text-transform: inherit;
            &::after,&::before{
                content: inherit;
                display: none;
            }
        }
    }
}