<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en">
  <head>
    <link
      rel="preload"
      as="image"
      href="" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="x-apple-disable-message-reformatting" />

    {{head}}
    <!--$-->
  </head>
  <body style="background-color:#ffffff">
    <table
      align="center"
      width="100%"
      border="0"
      cellpadding="0"
      cellspacing="0"
      role="presentation"
      style="max-width:37.5em;padding-left:12px;padding-right:12px;margin:0 auto">
      <tbody>
        <tr style="width:100%">
          <td style="font-family:{{ wp__preset__font_family__content }};font-size:14px;">
            {% if title %}
                <h1 style="font-family:{{ wp__preset__font_family__title }};font-size:32px;font-weight:600;margin:40px 0;padding:0px;">{{ title }}</h1>
            {% endif %}